[submodule "poem_per_day"]
	path = poem_per_day
	url = https://github.com/howardrj/PoemPerDay
[submodule "maze_generation"]
	path = maze_generation
	url = https://github.com/howardrj/MazeGeneration.git
[submodule "painting_per_day"]
	path = painting_per_day
	url = https://github.com/howardrj/PaintingPerDay.git
