body {
    margin: 0px;
}

p {
    font-family: "Oswald";
}

/**********/
/* Header */
/**********/
#header {
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    border-bottom: 2px solid black;
    top: 0px;
    background: white;
    z-index: 2;
}

.header_link {

    line-height: 50px;
    font-family: "Oswald";
    font-size: 18px;
    display: inline-block;
    height: 100%;
    width: 75px;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    background: white;
}

.header_link:hover {
    color: white;
    background: black;
    cursor: hand;
    cursor: pointer;
}

/***************/
/* Top Section */
/***************/

#top_section {
    height:  400px;
    font-family: "Oswald";
    border-bottom: 2px solid black;
    width: 100%;
    min-width: 800px;
    margin-top: 50px;
    text-align: center;
}

#image_container {
    display: inline-block;
    position: relative;
    height: 100%;
    text-align: center;
    vertical-align: top;
    margin-right: 50px;
} 

#my_picture {
    border-radius: 50%;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#short_description {
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

#short_description_text {
    font-size: 50px;
}

.logo {
    height: 100px;
    width: 100px;
}

#github_link {
    top: -5px;
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
}

/**************/
/* CV Section */
/**************/

#cv_section {
    margin-top: 30px;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: "Oswald";
    padding-bottom: 50px;
}

.cv_subsection {
    width: 800px;
    margin: 30px auto;
}

.subsection_header {
    text-align:left;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.cv_table {

    margin-top: 20px;
    width: 100%;
}

.cv_table td {

    font-size: 16px;
    text-align: left;
}

td.course_title {

    font-size: 18px;
}

tr.separator {
    height: 20px;
}

/*******************/
/* Contact Section */
/*******************/

#contact_section {
    padding-top: 30px;
    text-align: center;
    font-family: "Oswald";
}

.index_form {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}

label {                                                                                                                
    font-family: "Oswald";                                                                                             
    color:       black;                                                                                                
    font-size:   16.5px;                                                                                               
    margin-bottom: 5px;                                                                                                
}                                                                                                                      
                                                                                                                       
input[type='submit'] {                                                                                                 
    padding-top:    4px;                                                                                               
    padding-bottom: 4px;                                                                                               
    padding-left:   10px;                                                                                              
    padding-right:  10px;                                                                                              
    display: table;                                                                                                    
    margin: 0 auto;                                                                                                    
    margin-top:    30px;                                                                                               
    margin-bottom: 30px;                                                                                               
    -webkit-appearance: none !important;                                                                               
    background: white;                                                                                                 
    color:      black;                                                                                                 
    font-family: "Oswald";                                                                                             
    font-size:   20px;                                                                                                 
    border: 2px solid black;                                                                                           
    width: 130px;                                                                                                      
    text-align: center;                                                                                                
    text-decoration: none;                                                                                             
}                                                                                                                      
                                                                                                                       
input[type='submit']:focus {                                                                                           
    outline: none;                                                                                                     
}                                                                                                                      
                                                                                                                       
input[type='submit']:hover {                                                                                           
    background: black;                                                                                                 
    color:      white;                                                                                                 
    cursor: hand;                                                                                                      
    cursor: pointer;                                                                                                   
}                                                                                                                      
                                                                                                                       
input[type='text'], input[type='password'], textarea {                                                                 
    margin: 5px;                                                                                                       
    font-family: "Oswald";                                                                                             
    font-size:   16px;                                                                                                 
}                                                                                                                      
                                                                                                                       
input[type='text']:focus , input[type='password']:focus, textarea:focus {                                              
    border-color: black !important;
    outline: none !important;                                                                                          
} 

td.error_entry {                                                                                                       
    font: 10px;
    font-family: "Oswald";
}

.errorlist {
    list-style-type: square;
    float: left;
}

.loader {
    position: relative;
    border: 10px solid grey;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top:    30px;
    margin-bottom: 30px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/******************/
/* Footer Section */
/******************/
#footer_section {
    height: 50px;
    background: white;
    border-top: 2px solid black;
}

#signature {
    float: right;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Oswald";
}

/***************/
/* Modal Stuff */
/***************/

.modal {
    position: absolute;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.modal p {
    font-family: "Oswald";
    font-size: 16px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid black;
    width: 50%;
    max-width: 700px;
    min-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%)
}

.close:hover, .close:focus {
    cursor: pointer;
}

.modal-header {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: black;
    font-family: "Oswald";
    border-bottom: 1px solid black;
}

.modal-body {
    padding: 2px 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-footer {
    padding-right: 20px;
    background-color: white;
    color: black;
    font-family: "Oswald";
    border-top: 1px solid black;
    /* Prevents submit button from floating outside div */
    overflow:hidden;
}

.modal-footer input[type='submit'] {
    position: relative;
    float: right;
    margin-right: 10px;
}

.modal-footer button {
    position: relative;
    float: right;
    margin-right:  10px;
    margin-top:    30px;
    margin-bottom: 30px !important;
}

.modal-footer .loader {
    position: relative;
    float: right;
    margin-right: 10px;
}

/***********/
/* Buttons */
/***********/

button {
    font-family: "Oswald";
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    white-space: nowrap;
    background: white;
    color:      black;
    text-decoration: none;
    position: relative;
}

button:hover {
    color: white;
    background-color: black;
}

button:focus {
    outline: none;
    color: white;
    background-color: black;
}

button.large_button {
    padding-top:    5px;
    padding-bottom: 5px;
    font-size: 18px;
    width: 130px;
    margin-bottom: 10px;
}

button.small_button {
    font-size: 18px;
    width: 100px;
    padding-top:    5px;
    padding-bottom: 5px;
}

.header_button_container {
    margin-right: 30px;
    margin-left: 8px;
}

/***********/
/* General */
/***********/

.show {
    display: block;
}

/*********************/
/* Portfolio Section */
/*********************/
#portfolio_section {
    margin-top: 30px;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: "Oswald";
    padding-bottom: 50px;
}

a.project_container {
    border: 2px solid black;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: 50px;
    text-decoration: none;
    vertical-align: top;
    color: inherit;
}

.project_container:hover {
    cursor:hand;
    cursor:pointer;
}

.project_header {
    margin: 0px;
    padding: 0px;
    height: 15%;
    border-bottom: 1px solid black;
    width: 100%;
    position:relative;
    text-align: center;
    display:table;
}

.project_title {
    vertical-align:middle;
    display:table-cell;
    font-size: 22px;
}

.project_body {
    display: block;
    width: 100%;
    height: 55%;
}

.project_description_container {
    display: table;
    margin: 0px;
    padding: 5px;
    height: 30%;
    border-top: 1px solid black;
    width: 97%;
    position:absolute;
    text-align: left;
    bottom: 0;
    text-align: center;
}

.project_description {
    display:table-cell;
    vertical-align:middle;
}

.project_image {
    margin: 2px;
    max-height: 90%;
    max-width: 90%;
}

#poem_per_day_image {
    font-size: 150px;
}

#painting_per_day_image {
    margin-top: 7px;
    font-size: 130px;
}
