<div id="email_fail_modal" class="modal" style="display:block;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close modal_close_button">×</span>
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <div class="content_div">
                <p> There was an error sending an email to the address {{ email }}. </p>
                <p> Please check this email address is correct and if so, please contact us with your error. </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="large_button modal_close_button"> Confirm </button>
        </div>
    </div>
</div>
