<div id="contacted_modal" class="modal" style="display:block;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close modal_close_button">×</span>
            <h2>Succesful Contact</h2>
        </div>
        <div class="modal-body">
            <div class="content_div">
                <p> Thank you for your message. </p>
                <p> A member of the Everything of Theory team will get back to you shortly. </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="large_button modal_close_button"> Confirm </button>
        </div>
    </div>
</div>
