<div id="education_subsection" class="cv_subsection">
   <div class="subsection_header">
        <strong> Education </strong>
    </div> 

    <table class="cv_table">

        <!-- HPC -->
        <tr>
            <td class="course_title"> <strong>MSc in High Performance Computing </strong></td>
            <td> September 2014 - September 2015 </td>
        </tr>
        <tr>
            <td> Trinity College, Dublin </td>
            <td></td>
        </tr>
        <tr>
            <td> Overall Grade: 66% (II.1)
            <td></td>
        </tr>

        <tr class="separator">
            <td> </td>

        </tr>

        <!-- TP -->
        <tr>
            <td class="course_title"> <strong>B.A. in Theoretical Physics </strong></td>
            <td> September 2010 - June 2014 </td>
        </tr>
        <tr>
            <td> Trinity College, Dublin </td>
            <td></td>
        </tr>
        <tr>
            <td> Overall Grade: 65% (II.1)
            <td></td>
        </tr>

        <tr class="separator">
            <td> </td>

        </tr>

        <!-- LC -->
        <tr>
            <td class="course_title"> <strong> Leaving Certificate </strong></td>
            <td> September 2005 - June 2010 </td>
        </tr>
        <tr>
            <td> St. Peter's College, Dunboyne </td>
            <td></td>
        </tr>
        <tr>
            <td> Overall Grade: 520 points (95th percentile)
            <td></td>
        </tr>

    </table>

</div>
