<!DOCTYPE html>
{% load static %}
<html>

    <head> 
        <title> Robert Howard </title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /> 
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
        <script type="text/javascript" src="{% static "javascript/loader.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/modals_utils.js" %}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    </head>

    <body>

        {% if contacted %}
            {% include "contacted_index_modal.html" %}
        {% endif %}

        {% if email_fail %}
            {% include "email_fail.html" %}
        {% endif %}

        <div id="header">
            <a id="top_link" class="header_link">
                Top
            </a>

            <a id="about_link" class="header_link">
                About
            </a>
        
            <a id="cv_link" class="header_link">
                CV
            </a>

            <a id="portfolio_link" class="header_link">
                Portfolio
            </a>

            <a id ="contact_link" class="header_link">
                Contact
            </a>
        </div>

        <!-- Code to control anchors -->
        <script type="text/javascript">
        
            var header_links = document.getElementsByClassName("header_link");

            for (var i = 0; i < header_links.length; i++)
            {
                header_links[i].addEventListener('click', function(event) {

                    var section_id = event.target.id.slice(0, event.target.id.indexOf("link")) + "section";

                    var top = document.getElementById(section_id).offsetTop;

                    $(window).scrollTo(top, 1000);
                });
            }
            
        </script>

        {% include "top.html" %}

        {% include "cv.html" %}

        {% include "portfolio.html" %}

        {% include "contact.html" %}

        <div id="footer_section">
            <p id="signature"> Created by Robert Howard (howardrj@tcd.ie) </p>
        </div>
        
        {% if contact_fail %}
            <!-- Shift page down to contact form -->
            <script>
                document.getElementById("contact_link").click();
            </script>
        {% endif %}
        
    </body>

</html>
