{% load static %}

<div id="portfolio_section" name="portfolio">

    <h1> Portfolio </h1>

    <h4> Below is a short list of some personal development projects I have worked on. </h4>

    <a class="project_container" href="https://guindex.ie" target="_blank" title="Guindex">

        <div class="project_header">
            <span class="project_title"> Guindex </span>
        </div>

        <div class="project_body">
            <img class="project_image" src="{% static "images/guindex_favicon.png" %}">
        </div>

        <div class="project_description_container">
            <span class="project_description">
                A web application that keeps track of Guinness prices throughout Ireland from user submissions.
            </span>
        </div>
    </a>

    <a class="project_container" href="/maze_generation/" target="_blank" title="Maze Generator">

        <div class="project_header">
            <span class="project_title"> Maze Generator </span>
        </div>

        <div class="project_body">
            <img class="project_image" src="{% static "images/maze.png" %}">
        </div>

        <div class="project_description_container">
            <span class="project_description">
                A demonstration of Eller's algorithm for maze generation in javascript.
            </span>
        </div>
    </a>

    <a class="project_container" href="/poem_per_day/" title="Poem per Day">

        <div class="project_header">
            <span class="project_title"> Poem per Day </span>
        </div>

        <div class="project_body">
            <i id="poem_per_day_image" class="fa fa-pencil"></i>
        </div>

        <div class="project_description_container">
            <span class="project_description">
                A web app that generates a new poem per day using the PoetryDB API.
            </span>
        </div>
    </a>

</div>
