<div id="portfolio_section" name="portfolio">

    <h1> Portfolio </h1>

    <h4> Below is a short list of some personal development projects I have worked on. </h4>

    <div class="project_container" data-href="https://guindex.ie" title="https://guindex.ie">

        <div class="project_header">
            <span class="project_title"> Guindex </span>
        </div>

        <div class="project_body">

        </div>

        <div class="project_description_container">
            <span class="project_description">
                A web application that keeps track of Guinness prices throuighout Ireland from user submissions.
            </span>
        </div>
    </div>

    <div class="project_container" data-href="https://guindex.ie" title="https://guindex.ie">

        <div class="project_header">
            <span class="project_title"> Take a Rest </span>
        </div>

        <div class="project_body">

        </div>

        <div class="project_description_container">

        </div>
    </div>

    <div class="project_container" data-href="https://guindex.ie" title="https://guindex.ie">

        <div class="project_header">

        </div>

        <div class="project_body">

        </div>

        <div class="project_description_container">

        </div>
    </div>

    <script>

        $('.project_container').on('click', function () {

            // Get project container link and open in new tab

            var link = this.getAttribute('data-href');
            var tab  = window.open(link, '_blank');

            tab.focus();
        });

    </script>
    
</div>
