<div id="research_subsection" class="cv_subsection">
   <div class="subsection_header">
        <strong> Research Experience </strong>
    </div> 

    <table class="cv_table">

        <!-- Master's Thesis -->
        <tr>
            <td class="course_title"> <strong> Master's Thesis </strong></td>
            <td> May 2015 - September 2015 </td>
        </tr>
        <tr>
            <td colspan="2"> GPU Acceleration of Hadron Field Formulation in Lattice QCD </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Big fantastic description of my research.
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Summer Internship -->
        <tr>
            <td class="course_title"> <strong> Summer Internship Project </strong></td>
            <td> May 2014 - August 2014 </td>
        </tr>
        <tr>
            <td colspan="2"> One-Loop Matching Factors for Non-Exceptional Schemes </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Big fantastic description of my research.
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Final Year Undergraduate -->
        <tr>
            <td class="course_title"> <strong> Final Year Undergraduate Thesis </strong></td>
            <td> September 2013 - January 2014 </td>
        </tr>
        <tr>
            <td colspan="2"> Spontaneous Emission Above a Metamaterial Slab</td>
        </tr>
        <tr>
            <td colspan="2"> 
                Big fantastic description of my research.
            </td>
        </tr>

    </table>

</div>
