<div id="research_subsection" class="cv_subsection">
   <div class="subsection_header">
        <strong> Research Experience </strong>
    </div> 

    <table class="cv_table">

        <!-- Master's Thesis -->
        <tr>
            <td class="course_title"> <strong> Master's Thesis </strong></td>
            <td> May 2015 - September 2015 </td>
        </tr>
        <tr>
            <td colspan="2"> GPU Acceleration of Hadron Field Formulation in Lattice QCD </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Developed software with the CUDA parallel programming platform to calculate colour contractions of
                hadronic operators commonly used in lattice quantum chromodynamics using GPU acceleration. 
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Summer Internship -->
        <tr>
            <td class="course_title"> <strong> Summer Internship Project </strong></td>
            <td> May 2014 - August 2014 </td>
        </tr>
        <tr>
            <td colspan="2"> One-Loop Matching Factors for Non-Exceptional Schemes </td>
        </tr>
        <tr>
            <td colspan="2"> 
                The project explored an open problem in quantum field theory, the calculation of matching factors for
                different renormalisation schemes.
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Final Year Undergraduate -->
        <tr>
            <td class="course_title"> <strong> Final Year Undergraduate Thesis </strong></td>
            <td> September 2013 - January 2014 </td>
        </tr>
        <tr>
            <td colspan="2"> Spontaneous Emission Above a Metamaterial Slab</td>
        </tr>
        <tr>
            <td colspan="2"> 
                Computational physics project in the field of nanophotonics. The aim of the project was to implement a
                mathematical formalism in order to quantify how the spontaneous emission rate of a two-level quantum
                system is altered when placed in the vicinity of a slab of negative refractive index.
            </td>
        </tr>

    </table>

</div>
