<div id="technical_strengths_subsection" class="cv_subsection">
   <div class="subsection_header">
        <strong> Technical Strengths </strong>
    </div> 
    
    <table id="technical_strengths_table" class="cv_table">

    <tr>
        <td> Programming Languages </td>
        <td> C/C++, Python, Bash, Javascript/Jquery, Lua, Matlab </td>
    </tr>

    <tr>
        <td> Debugging Tools </td>
        <td> GDB, valgrind, nm, strace, wireshark/tcpdump </td>
    </tr>

    <tr>
        <td> Web Development </td>
        <td> HTML, CSS, Javascript, Jquery, Gunicorn, Nginx </td>
    </tr>

    <tr>
        <td> Parallel Programming APIs </td>
        <td> MPI, OpenMP, CUDA </td>
    </tr>

    <tr>
        <td> Operating Systems </td>
        <td> Linux (Ubuntu and CentOS distributions), OS X </td>
    </tr>

    </table>
</div>
