{% load static %}

<div id="top_section">

    <div id="image_container">  

        <img id="my_picture" src="{% static "images/my_picture.png" %}">

    </div>

    <div id="short_description">

        <div id="short_description_text">
            <p> Hi, I'm Robert Howard </p>
            <p style="font-size: 20px; margin-top: -10px"> Theoretical physicist turned software engineer</p>
        </div>

        <br>

        <a id="twitter_link" href="/" title="Twitter">
            <img id="twitter_image" src="{% static "images/twitter.png" %}" class="logo">
        </a>

        <a id="github_link" href="https://github.com/howardrj" title="GitHub">
            <img id="github_image" src="{% static "images/github.png" %}" class="odd_logo" height="88" width="88">
        </a>

        <a id="linkedin_link" href="/" title="LinkedIn">
            <img id="linkedin_image" src="{% static "images/linkedin.png" %}" class="logo">
        </a>

    </div>
</div>
