<div id="work_subsection" class="cv_subsection">
   <div class="subsection_header">
        <strong> Work Experience </strong>
    </div> 

    <table class="cv_table">

        <!-- Druid -->
        <tr>
            <td class="course_title"> <strong> Druid Software </strong></td>
            <td> October 2015 - Present </td>
        </tr>
        <tr>
            <td> Software Engineer </td>
            <td> Bray, Co. Wicklow </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Druid specialises in mobile network core technology. 
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- School of Maths -->
        <tr>
            <td class="course_title"> <strong> School of Mathematics </strong></td>
            <td> January 2015 - May 2015 </td>
        </tr>
        <tr>
            <td> Maths Tutor </td>
            <td> Trinity College, Dublin </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Gave calculus tutorials to a group of 15 first year general science students and corrected assignments
                on a weekly basis.
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Dunboyne Castle -->
        <tr>
            <td class="course_title"> <strong> Dunboyne Castle Hotel & Spa </strong></td>
            <td> July 2011 - July 2015 </td>
        </tr>
        <tr>
            <td> Bartender/Server</td>
            <td> Dunboyne, Co. Meath </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Duties included mixing and serving alcoholic and non-alcoholic drinks and food to guests according to
                hotel specifications, courteously and efficiently.
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Itadaki -->
        <tr>
            <td class="course_title"> <strong> Itadaki Boston </strong></td>
            <td> June 2013 - August 2013 </td>
        </tr>
        <tr>
            <td> Bartender/Server</td>
            <td> Newbury Street, Boston, MA </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Employed here during the summer of 2013 while in Boston on a J-1 visa. My primary duty was to serve
                food and beverages to guests in the bar area of the restaurant. The position required the memorisation
                of over 100 cocktail recipes and a knowledge of Japanese cuisine.
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- Dunnes -->
        <tr>
            <td class="course_title"> <strong> Dunnes Stores </strong></td>
            <td> August 2010 - January 2011 </td>
        </tr>
        <tr>
            <td> Sales Assistant</td>
            <td> Blanchardstown, Dublin 15 </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Responsible for general upkeep of the delicatessen department of the store.
            </td>
        </tr>

     </table>

</div>
