<div id="work_subsection" class="cv_subsection">
   <div class="subsection_header">
        <strong> Relevant Work Experience </strong>
    </div> 

    <table class="cv_table">

        <!-- Druid -->
        <tr>
            <td class="course_title"> <strong> Druid Software </strong></td>
            <td> October 2015 - Present </td>
        </tr>
        <tr>
            <td> Software Engineer </td>
            <td> Bray, Co. Wicklow </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Druid specialises in mobile network core technology. 
            </td>
        </tr>

        <tr class="separator">
            <td> </td>
        </tr>

        <!-- School of Maths -->
        <tr>
            <td class="course_title"> <strong> School of Mathematics </strong></td>
            <td> January 2015 - May 2015 </td>
        </tr>
        <tr>
            <td> Maths Tutor </td>
            <td> Trinity College, Dublin </td>
        </tr>
        <tr>
            <td colspan="2"> 
                Gave calculus tutorials to a group of 15 first year general science students and corrected assignments
                on a weekly basis.
            </td>
        </tr>

     </table>

</div>
